<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116538906484-dkd92hk0cenbue4sdj4kpqond4jhqg4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116538906484-dkd92hk0cenbue4sdj4kpqond4jhqg4f</string>
	<key>API_KEY</key>
	<string>AIzaSyAC8LwjBFoAntD-WQhm0hSIQ_8aC3Incs8</string>
	<key>GCM_SENDER_ID</key>
	<string>116538906484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raghavacodes.IIQLogin</string>
	<key>PROJECT_ID</key>
	<string>iiqauth</string>
	<key>STORAGE_BUCKET</key>
	<string>iiqauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116538906484:ios:b5363d28dfbdd2a925fe21</string>
</dict>
</plist>